@import "./base.css";

body,
body * {
    margin: 0; /* atsistumia nuo aplinkiniu elementu visomis kryptimis */
    padding: 0; /* neleis turiniui liestis prie virsaus ir apacios (bet ne prie sonu) */
    vertical-align: top; /* vertikalus lygiavimas: viršuje */
    box-sizing: border-box; /*  */
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary-color);
}



.container {
    display: flex; /* visi DIV sugula i viena eile */
    flex-direction: row; /* eilute (pagrindine asis eilute arba stulpeliu) */
    width: 800px; /* per visa ploti */
    padding: 30px 0; /* neleis turiniui liestis prie virsaus ir apacios (bet ne prie sonu) */
    position: absolute;
    margin: calc(50% - 400px); /* turinys iscentruojamas */
    justify-content: center; /*horizontalus () */
    /*background-color: blue; */
}


.container > .left-column {
    display: flex; 
    width: 100%;
    justify-content: center;
    flex-wrap: wrap; /* norint, kad sukristu i stulpeli esant mobiliai variacijai, nes i eile netilps - “wrap-” viskas atbulai */
    flex-direction: column; 
    align-items: center;  /* vertikalus, kad nesuspaustu */
    /*background-color: red;*/
}


.container > .right-column {
    display: flex;
    width: 100%;  
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; /* vertikalus */
    text-align: center; 
    /* background-color: paleturquoise; */
}


.container > .right-column > .main-title {
    font-size: 90px;
    margin: 0;
    /* background-color: plum; */
}
.container > .right-column > .pharagraph-title {
    font-size: 22px; /* titulinio uzraso dydis */
    margin: 0;
    padding-bottom: 30px;
    font-weight: bolder;
        color: #7b7a81;
    /* background-color: yellow; */
}
.container > .right-column > .pharagraph {
    font-size: 12px;
    color: #969aa5;
    margin: 0;
    padding-bottom: 10px;
   /* background-color: mediumseagreen; */
}
.container > .right-column > .button {
    display: flex;
    font-size: 14px;
    background-color: #696F89; 
    color: white; 
    text-transform: uppercase; /* uzraso sriftas */
    text-decoration: none;
    padding: 15px 35px 15px 35px;
}

@media (max-width: 1100px) {
    .container {
    width: 800px;
    margin: 0 calc(50% - 400px);
    background-color: yellow;
    }
}

@media (max-width: 900px) {
    .container {
        width: 600px;
        margin: 0 calc(50% - 300px);
        background-color: yellowgreen;
    }
}

@media (max-width: 700px) {
    .container {
        width: 500px;
        margin: 0 calc(50% - 250px);
        background-color: violet;
    }
}

@media (max-width: 540px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .container > .left-column,
    .container > .right-column {
        flex-direction: column; /* stulpelis (pagrindine asis eilute arba stulpeliu) */
        justify-content: center; /* iscentravimas horizontalus. Flexsinimo pav. A Complete Guide to Flexbox | CSS-Tricks - CSS-Tricks */  
        flex-wrap: wrap; /* norint, kad visi st. sukristu i stulpeli esant mobiliai variacijai, nes i eile netilps - “wrap-” viskas atbulai */
        align-items: center; /* vertikalus */ 
        width: 100%;
        margin: 0;
        background-color: tomato;
    }
}

